@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FINA - გამოკითხვები</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/ExtJS42/resources/ext-theme-neptune/ext-theme-neptune-all-debug.css" />
    <script type="text/javascript" src="~/Scripts/ExtJS42/ext-all-dev.js"></script>
    <script type="text/javascript" src="~/Scripts/CustomExtensions.js"></script>
    <script type="text/javascript" src="~/Scripts/UsefulFunctions.js"></script>
    <script type="text/javascript" src="~/Scripts/Fina_Poll_System/app1.js"></script>

    <LINK href="favicon.ico" type=image/x-icon rel="shortcut icon"><LINK href="../../Images/favicon.ico" type=image/x-icon rel=icon>

    <style type="text/css">
        .add {
            background-image: url("../../Images/add.png");
        }

        .edit {
            background-image: url("../../Images/edit.png");
        }

        .delete {
            background-image: url("../../Images/delete.png");
        }

        .save {
            background-image: url("../../Images/save.png");
        }

        .close {
            background-image: url("../../Images/close.png");
        }

        .add16 {
            background-image: url("../../Images/add16.png");
        }

        .edit16 {
            background-image: url("../../Images/edit16.png");
        }

        .delete16 {
            background-image: url("../../Images/delete16.png");
        }

        .savenew {
            background-image: url("../../Images/savenew.png");
        }

        .up16 {
            background-image: url("../../Images/up16.png");
        }

        .down16 {
            background-image: url("../../Images/down16.png");
        }

        .x-window-body-default {
            border-style: none;
        }

        .x-toolbar {
            border-style: none;
        }
    </style>

</head>
<body>

</body>
</html>